.IPContainer{
  padding: 0.5em;
  margin-right: 0;
}

.IPText{
  cursor: pointer;
}

.clipBoardButton{
  cursor: pointer;
  padding: 0.5em;
  text-decoration: none;
  border-left: solid 1px black;
  background: none;
  transition: background 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 8em;
  text-align: center;
}

@media (max-width: 800px) {
  .clipBoardButton{
    width: 6em;
  }
  
}

.clipBoardButton:hover{
  background: var(--clr-dark);
  color: var(--clr-light);
}

.clipBoardButton>h2{
  transition: color 0.2s ease-in-out;
}

.clipBoardButton:hover>h2{
  color: var(--clr-light);
}

.clipBoardButton:active{
  background: var(--clr-dark);
  color: var(--clr-light);
}

.clipBoardButton.disabled{
  cursor: default;
  background: var(--clr-dark);
}

.clipBoardButton.disabled>h2{
  color: var(--clr-accent);
}

.InlineBlock{
  display: inline-block;
}

.IPParentContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-dark);
  margin: 0.5em;
}